* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:not([type=radio]) {
    width: 100%;
    height: 30px;
    padding: 0 5px;
}

.radio label, input[type=radio] {
    cursor: pointer;
}

label .mandatory{
    color: red;
    font-size: unset;
}

.mandatory{
    color: red;
    font-size: 13px;
}

textarea{
    padding: 2px 5px;
    resize: none;
}

button {
    width: 70px;
    height: 30px;
    padding: 0 5px;
}

.card {
    margin: auto;
    display: table;
    box-shadow: 0 0 2px 0 #888888;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card .form {
    width: 370px;
    padding: 30px 40px;
}

.card .space {
    margin: 15px 0;
}

.card .title p {
    font-weight: bold;
    font-size: 24px;
}

.card .account {
    color: blue;
    cursor: pointer;
}

.eventPage {
    width: 70%;
    margin: auto;
}

.table {
    width: 100%;
}

.table button{
    padding: 2px;
    width: 50px;
    height: unset;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 3px 5px;
}

th {
    text-align: left;
}
